<h2 style="text-align: center">
    ADD TWO NUMBERS</h2>
<br>
<form method="POST">
    <div class="row">
        <div class="col">
            <input type="number" class="form-control" placeholder="Number 1" id="number1" name="number1">
        </div>
        <div class="col">
            <input type="number" class="form-control" placeholder="Number 2" id="number2" name="number2">
        </div>
    </div>
    <br>
    <input class="btn btn-primary" type="submit" value="Calculator">
</form>