<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">RESULT!</h4>
    <hr>
    <div class="mb-0">
        <%- number1 %> +
            <%- number2 %> =
                <%- result %>
    </div>
</div>